{% extends "::layout.html.twig" %}

{% block body %}

	<div class="block-fin-achat">
		<p>Félicitations ! Votre commande est validée, vous allez recevoir un mail dans les plus brefs délais.<br>
		Nous vous remercions pour votre achat. Vous pouvez retourner à la <a href="{{ path('louvre_billetterie_home') }}">billetterie</a>, ou bien sur le <a href="http://www.louvre.fr/">site officiel</a> du musée.</p>
	</div>
	


{% endblock %}	